<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelualue</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Keskustelualueen nimi tähän!</h1>
        <table style="text-align:left;">

            <tr>
                <th>Viestiketju</th>
                <th>Viestejä yhteensä</th>
                <th>Viimeisin viesti</th>
            </tr>

            <tr th:each="viestiketjunYhteenveto: ${viestiketjujenYhteenvedot}">

                <td>
                    <a th:href="@{~/{id}(id=${viestiketjunYhteenveto.id})}" th:text="${viestiketjunYhteenveto.nimi}">name</a>
                </td>
                <td th:text="${viestiketjunYhteenveto.viestienLukumaara}">0</td>
                <td th:text="${viestiketjunYhteenveto.aika}">0</td>

            </tr>

        </table>

        <h3>Aloita uusi viestiketju</h3>

        <form id="addviestiketju" method="POST" th:action="@{~/viestiketjut}">
            <table>

                <tr>
                    <th>Otsikko</th>
                    <th></th>
                </tr>

                <tr>
                    <td><input type="text" name="otsikko"/></td>
                    <td>
                        <input type="submit" value="Lisää!"/>
                    </td>
                </tr>
            </table>

        </form>

    </body>
</html>
