<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Viestiketjun nimi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Viestiketjun otsikko tähän!</h1>
        <table style="text-align:left;">

            <tr>
                <th>Viestit</th>
            </tr>

            <tr th:each="viesti: ${viestit}">

                <td th:text="${viesti.aika + ' ' + viesti.teksti + ' t.' + viesti.nimi}">0</td>

            </tr>

        </table>
    </body>
</html>